<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770259192882-3jnktrcs9kn9qbem9vov7foq7g9h98om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770259192882-3jnktrcs9kn9qbem9vov7foq7g9h98om</string>
	<key>API_KEY</key>
	<string>AIzaSyDee4-0mPfZYQ3eRZ_xbEeFFgp2m7LhWOg</string>
	<key>GCM_SENDER_ID</key>
	<string>770259192882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.mcfly</string>
	<key>PROJECT_ID</key>
	<string>proyecto-gym-81c66</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-gym-81c66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770259192882:ios:d6f672f677ed7836c0c02b</string>
</dict>
</plist>